<header>
    <div>
        <p>Already have an Intuit account?</p> 
        <a id="nav" href="#">I forgot my User ID or Password</a>
    </div>
    
    <div id=boutton>
        <a id="sign01" href="#">Sign in</a>
    </div>
    
</header>

<div id=formulaire>


<form accept-charset="UTF-8" action="/users" class="new_user"
      id="new_user" method="post">
    
  <input name="utf8" type="hidden" value="&#x2713;" />
    
    
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />
    
    
  <label for="user_email">email</label>
  <input id="user_name" name="user[email]" type="text" />

  <label for="user_phone">phone</label>
  <input id="user_email" name="user[phone]" type="email" />

  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]"
         type="password" />

  <label for="user_password_confirmation">Confirmation</label>
  <input id="user_password_confirmation"
         name="user[password_confirmation]" type="password" />

  <input class="btn btn-primary" name="commit" type="submit"
         value="Create account" />
</form>
</div>


<footer>
			<div class="footer-logo-holder"><a href="https://www.intuit.com/" class="footer-logo" target="_blank"></a></div>
			<div class="footer-links-holder">
				<ul class="footer-links">
					<li>
						<a href="http://about.intuit.com/legal/" class="footer-legal footer-link-text" target="_blank">Legal</a>
					</li>
					<li>
						<a href="https://security.intuit.com/privacy/" class="footer-privacy footer-link-text" target="_blank">Privacy</a>
					</li>
					<li>
						<a href="http://security.intuit.com/" class="footer-security footer-link-text" target="_blank">Security</a>
					</li>
				</ul>
			</div>
			<div class="footer-smallprint">
				<small>© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.<br>Terms and conditions, features, support, pricing, and service options subject to change without notice.</small>
			</div>
</footer>